.reviews__item--1 {
  background: url("../img/photo-1.jpg"); }

.reviews__item--2 {
  background: url("../img/photo-2.jpg"); }

.reviews__item--3 {
  background: url("../img/photo-3.jpg"); }

.reviews__item--4 {
  background: url("../img/photo-4.jpg"); }

.reviews__item--5 {
  background: url("../img/photo-5.jpg"); }

.reviews__item--6 {
  background: url("../img/photo-6.jpg"); }

.reviews__item--7 {
  background: url("../img/photo-7.jpg"); }

.reviews__item--8 {
  background: url("../img/photo-8.jpg"); }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body, html {
  height: 100%; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  width: 100vw;
  height: 100vh;
  min-height: 650px; }

.order-btn {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  margin: 10px 17px;
  color: #fff;
  width: 100px;
  line-height: 35px;
  border-radius: 5px;
  background-color: #e25028; }

.sidebar {
  position: absolute;
  right: -30px;
  top: 70px; }

.sidebar__nav-link {
  display: block;
  width: 12px;
  height: 12px;
  background: url("../img/ellipse.png") 50% 50% no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-top: 13px;
  border: 3px solid transparent; }

.sidebar__nav-link--active {
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff; }

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin/Gagalin-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.eot");
  src: url("../fonts/lifehack_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lifehack Medium.otf") format("opentype"), url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack_medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.first {
  background: url("../img/main-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover; }

.header {
  font-family: 'Ubuntu-Medium';
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 12px; }

.header__logo {
  margin-right: auto; }

.nav__item {
  display: inline-block;
  vertical-align: middle; }
  .nav__item:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  line-height: 30px; }

.first .container {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.first__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 10%; }

.first__logo, .first__description {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.first__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 72px;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px; }

.first__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 65px;
  line-height: 1; }

.scroll-icon {
  margin-bottom: 60px; }

.about-us {
  background: url("../img/about_us-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 80px; }

.about-us .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.about-us__title {
  font-family: 'Gagalin';
  margin: 0;
  font-size: 72px;
  margin-bottom: 80px; }

.about-us__item {
  width: 280px; }

.item__title {
  font-family: 'Lifehack';
  margin-bottom: 0; }

.item__text {
  font-family: 'Ubuntu';
  font-weight: lighter;
  font-size: 14px;
  line-height: 24px;
  color: grey; }

.reviews {
  background-color: #ccc;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  position: relative;
  height: 50vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  background-size: cover; }

.reviews__desc {
  padding: 50px 25px 50px 16px;
  opacity: 0; }
  .reviews__desc:hover {
    opacity: 1; }

.desc__title {
  font-family: 'Gagalin';
  color: #fff; }

.desc__text {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 20px; }

.order-btn--more {
  background-color: #2f3234;
  margin: 0; }

/*# sourceMappingURL=main.css.map */