.reviews__item--1 {
  background: url("../img/photo-1.jpg"); }

.reviews__item--2 {
  background: url("../img/photo-2.jpg"); }

.reviews__item--3 {
  background: url("../img/photo-3.jpg"); }

.reviews__item--4 {
  background: url("../img/photo-4.jpg"); }

.reviews__item--5 {
  background: url("../img/photo-5.jpg"); }

.reviews__item--6 {
  background: url("../img/photo-6.jpg"); }

.reviews__item--7 {
  background: url("../img/photo-7.jpg"); }

.reviews__item--8 {
  background: url("../img/photo-8.jpg"); }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body, html {
  height: 100%;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    body, html {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    body, html {
      font-size: 13px; } }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  width: 100%;
  height: 100vh;
  min-height: 650px; }

.order-btn {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  margin: 10px 17px;
  margin-right: 0;
  color: #fff;
  width: 100px;
  line-height: 35px;
  border-radius: 5px;
  background-color: #e25028; }
  .order-btn:hover {
    background-color: #bd3d1a; }
  .order-btn--form {
    border: none;
    margin: 0;
    margin-right: 20px;
    padding: 0; }

.sidebar {
  position: fixed;
  right: 32px;
  top: 85px;
  z-index: 20; }

.sidebar__nav-link {
  display: block;
  width: 12px;
  height: 12px;
  background: url("../img/ellipse.png") 50% 50% no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-top: 9px;
  border: 3px solid transparent; }

.sidebar__nav-link--active {
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff; }

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin/Gagalin-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.eot");
  src: url("../fonts/lifehack_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lifehack Medium.otf") format("opentype"), url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack_medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.first {
  background: url("../img/main-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover; }

.header {
  font-family: 'Ubuntu-Medium';
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.8125rem;
  padding-left: 0.5rem; }

@media screen and (max-width: 768px) {
  .header__menu {
    display: none; } }

.header__logo {
  margin-right: auto; }

.nav__item {
  display: inline-block;
  vertical-align: middle; }
  .nav__item:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.625rem;
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 50%;
    background-color: #fff; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8125rem;
  line-height: 1.875rem; }
  .nav__link:hover {
    text-decoration: underline; }

.first .container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.first__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 9%; }
  @media screen and (max-width: 768px) {
    .first__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      padding: 0 20%; } }

.first__logo, .first__description {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.first__logo-pic {
  max-width: 100%;
  max-height: 100%; }

.first__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .first__description {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  line-height: 1.42;
  margin: 0;
  padding-top: 3.75rem; }

.first__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  line-height: 1; }

.scroll-icon {
  margin-bottom: 3.75rem; }
  @media screen and (max-width: 768px) {
    .scroll-icon {
      margin-top: 2.5rem; } }

.hamburger-menu {
  display: none;
  position: relative;
  border-radius: 0.1875rem;
  margin-left: 1.5625rem;
  width: 1.5625rem;
  height: 0.3125rem;
  background-color: #fff; }
  .hamburger-menu:before {
    content: "";
    position: absolute;
    top: -0.625rem;
    width: 1.5625rem;
    height: 0.3125rem;
    border-radius: 0.1875rem;
    background-color: #fff; }
  .hamburger-menu:after {
    content: "";
    position: absolute;
    top: 0.625rem;
    width: 1.5625rem;
    height: 0.3125rem;
    border-radius: 0.1875rem;
    background-color: #fff; }
  @media screen and (max-width: 768px) {
    .hamburger-menu {
      display: initial; } }

.about-us {
  background: url("../img/about_us-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 5rem; }

.about-us .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.about-us__title {
  font-family: 'Gagalin';
  margin: 0;
  font-size: 4.5rem;
  margin-bottom: 5rem; }

.about-us__item {
  width: 17.5rem; }

.item__title {
  font-family: 'Lifehack';
  margin-bottom: 0; }

.item__text {
  font-family: 'Ubuntu';
  font-weight: lighter;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: grey; }

.reviews {
  background-color: #ccc;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  position: relative;
  height: 50vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  @media screen and (max-width: 768px) {
    .reviews__item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      height: 25vh; } }

.reviews__desc {
  padding: 3.125rem 1.5625rem 3.125rem 1rem;
  opacity: 0;
  height: 50vh;
  background-color: rgba(47, 50, 52, 0.7);
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }
  .reviews__desc:hover {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .reviews__desc {
      padding: 0;
      height: 25vh;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; } }

.desc__title {
  font-family: 'Gagalin';
  color: #fff; }

.desc__text {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: left;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .desc__text {
      text-align: center;
      line-height: 1.25rem; } }

.order-btn--more {
  background-color: #2f3234;
  margin: 0; }
  .order-btn--more:hover {
    background-color: #1e2021; }

.team {
  background: url("../img/team-bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.team__wrapper {
  background-color: rgba(47, 50, 52, 0.93);
  height: 100%;
  width: 48%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding-top: 5.625rem;
  padding-left: 5rem;
  right: 0;
  top: 0; }
  @media screen and (max-width: 768px) {
    .team__wrapper {
      width: 100%;
      padding: 0;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

.team__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff; }

.team__title {
  padding: 0; }

.team__accordeon {
  padding-top: 5rem; }

.team__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.team__member {
  margin-bottom: 2.5rem; }
  @media screen and (max-width: 768px) {
    .team__member {
      margin-bottom: 0.625rem; } }

.member__name {
  text-decoration: none;
  color: #fff;
  font-family: 'Gagalin';
  font-size: 0.875rem;
  line-height: 1.75687rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .member__name {
      font-size: 1.56062rem;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .member__name:before {
    content: "";
    width: 0;
    height: 0;
    border: 0.5625rem solid transparent;
    margin-right: 0.625rem;
    border-top-color: #f8b43a;
    border-bottom-width: 0; }

.member__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 1.25rem;
  padding-right: 6.25rem; }
  @media screen and (max-width: 768px) {
    .member__desc {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 25%; } }

.member__photo {
  background-size: cover;
  border-radius: 50%;
  width: 5.9375rem;
  height: 5.9375rem; }

.member__info {
  margin-left: 1.25rem;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.5rem; }
  @media screen and (max-width: 768px) {
    .member__info {
      text-align: center; } }

.team__member--active .member__desc {
  overflow: visible;
  height: 100%; }

.team__member--active .member__name {
  color: #f8b43a; }
  .team__member--active .member__name:before {
    content: "";
    width: 0;
    height: 0;
    border: 0.5625rem solid transparent;
    border-bottom-color: #f8b43a;
    border-top-width: 0; }

.order {
  background: url("../img/order-bg.jpg") center no-repeat;
  background-size: cover; }

.form {
  margin-top: 5rem; }

.form__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-size: 0.875rem;
  line-height: 1.5rem; }
  @media screen and (max-width: 768px) {
    .form__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 20%; } }

.form__left {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .form__left {
      margin-right: 0; } }

.form__right {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }
  @media screen and (max-width: 768px) {
    .form__right {
      width: 100%; } }

.form__block-title {
  color: #fff;
  margin-bottom: 0.3125rem; }

.form__input {
  border: none;
  border-radius: 0.3125rem;
  width: 100%;
  padding: 0.3125rem;
  height: 2.1875rem; }

.form__input--textarea {
  resize: none;
  height: 7.4375rem; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem; }

.form__row--comment {
  margin-bottom: 0.9375rem; }

.form__row--trigs {
  margin-bottom: 0.8125rem; }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__block--radio {
  position: relative;
  margin-left: 1.5625rem;
  margin-right: 0; }
  .form__block--radio:before {
    content: "";
    position: absolute;
    top: 0.3125rem;
    left: -1.5625rem;
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 50%;
    background: #fff; }

.form__input--radio:checked + .form__block--radio:before {
  background: url("../img/radio-icon.png") center no-repeat #fff; }

.form__input--check:checked + .form__block--check:before {
  background: url("../img/check-icon.png") center no-repeat #fff; }

.form__block--check {
  position: relative;
  margin-left: 1.5625rem; }
  .form__block--check:before {
    content: "";
    position: absolute;
    top: 0.3125rem;
    left: -1.5625rem;
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 0.0625rem;
    background-color: #fff; }

.form__reset-btn {
  border: none;
  color: #fff;
  background: transparent; }

.map-photo {
  width: 100%;
  height: 100vh; }

.contacts__content {
  position: relative; }

.contacts__footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: url("../img/footer-bg.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.footer__left {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 14px;
  line-height: 24px; }

.adress {
  padding-top: 10px;
  padding-bottom: 5px; }

.phone {
  padding-bottom: 5px;
  color: #e25028; }

.footer__right {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right; }

.phone-icon {
  margin-right: 5px; }

.social-btn {
  width: 20px;
  height: 20px;
  margin-right: 20px; }

.menu {
  background: url("../img/menu-bg.jpg") center no-repeat;
  background-size: cover;
  padding-left: 3.125rem;
  position: relative; }

.menu__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.menu__accordeon {
  height: 100%; }

.menu__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.menu__item {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__item--active .menu__item-desc {
  display: block; }

.menu__item-title {
  background: url("../img/item-bg.jpg") center no-repeat;
  background-size: cover;
  height: 100%;
  width: 5rem;
  position: relative; }

.menu__item-link {
  display: inline-block;
  font-family: 'Gagalin';
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem; }

.link-wrapper {
  text-align: center;
  min-width: 40.625rem;
  position: absolute;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 50%;
  top: 100%; }

.menu__item-desc {
  display: none;
  padding-top: 3.75rem;
  padding-left: 2.1875rem;
  padding-right: 2.1875rem;
  height: 100%;
  width: 33.75rem;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: left;
  background-color: rgba(47, 50, 52, 0.93); }

/*# sourceMappingURL=main.css.map */