.about-us {
    background: url("../img/about_us-bg.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding-top: 80px;
}

.about-us .container {
    display: flex;
	justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
}

.about-us__title {
    font-family: 'Gagalin';
	margin: 0;
	font-size: 72px;
	margin-bottom: 80px;
}

.about-us__item {
	width: 280px;
}

.item__title {
	font-family: 'Lifehack';
	margin-bottom: 0;
}

.item__text {
    font-family: 'Ubuntu';
	font-weight: lighter;
	font-size: 14px;
	line-height: 24px;
	color: grey;
}