.about-us {
    background: url("../img/about_us-bg.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding-top: rem(80px);
}

.about-us .container {
    display: flex;
	justify-content: space-around;
    align-items: baseline;
	flex-direction: row;
	
	@include phones {
		flex-direction: column;
	}
}

.about-us__title {
	color: #000;
	margin-bottom: rem(80px);
	padding-top: 0;

	@include tablets {
		margin-bottom: rem(30px);
	}
}

.about-us__item {
	@include phones {
		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
		margin-bottom: rem(40px);
	}

	@include phones {
		margin-bottom: 0;
	}
}

.item__title {
	font-family: 'Lifehack';
	margin-bottom: 0;
	@include phones {
		display: block;
	}
}

.menu__logo {
	width: 70px;
	height: auto;
}

.item__text {
    font-family: 'Ubuntu';
	font-weight: lighter;
	font-size: rem(14px);
	line-height: rem(24px);
	color: grey;
	white-space: space;
}

.item__desc {
	@include phones {
		width: 80%;
	}
}