.first {
	background: url("../img/main-bg.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.header {
	font-family: 'Ubuntu';
	font-weight: 700;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: rem(13px);
	padding-left: rem(8px);
}

.header__menu {
	@include tablets {
		display: none;
	}
}

.header__logo {
	margin-right: auto;
}

.nav__item {
	display: inline-block;
	vertical-align: middle;
	&:after{
		content: '';
		display: inline-block;
		vertical-align: middle;
		margin: 0 rem(10px);
		@include circle(rem(5px), #fff);
	}
	&:last-child:after {
		display: none;
	}
}

.nav__link {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: rem(13px);
	line-height: rem(30px);
	&:hover {
		text-decoration: underline;
	}
}


.first .container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
  }

.first__content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	align-items: center;
	padding-bottom: 9%;

		@include tablets {
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			text-align: center;
			padding: 0 20%;
		}
  }

.first__logo, .first__description {
	flex-basis: 50%;
	display: flex;
	}
	
.first__logo-pic {
	width: 100%;
	height: auto;
	object-fit: contain;

	@include phones {
		height: rem(300px);
	}
}

.first__description {
	flex-direction: column;
	justify-content: center;

	@include tablets {
		align-items: center;
	}
}

.first__title {
	@include phones {
		line-height: rem(60px);
		padding-top: 0;
	}
}

.first__description-text {
	color: #ffffff;
	font-family: 'Lifehack';
	font-size: rem(65px);
	line-height: 1;
	@include phones {
		font-size: rem(55px);
	}
}

.scroll-icon {
	margin-bottom: rem(60px);

	@include tablets {
		margin-top: rem(40px);
	}
}

.hamburger {
	cursor: pointer;
	display: none;
	position: relative;
	border-radius: rem(3px);
	margin-left: rem(25px);
	width: rem(25px);
	height: rem(5px);
	background-color: #fff;

		&:before {
			content: "";
			position: absolute;
			top: rem(-10px);
			width: rem(25px);
			height: rem(5px);
			border-radius: rem(3px);
			background-color: #fff;
		}

		&:after {
			content: "";
			position: absolute;
			top: rem(10px);
			width: rem(25px);
			height: rem(5px);
			border-radius: rem(3px);
			background-color: #fff;
		}

		@include tablets {
			display: initial;
		}
}

.hamburger__menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	background-color: rgba(#2f3234, .99);
	z-index: 99;
	transform: scale(0);
	transition: transform .3s ease;

	&--active {
		transform: scale(1);
	}
}

.menu__container {
	display: flex;
	flex-direction: column;
}

.menu__top {
	display: flex;
	align-items: center;
	width: 100%;
	padding-top: 10px;
}

 .menu__main {
	 display: flex;
	 align-items: center;
	 height: 100%;
 }

 .ham-menu__item {
	 position: relative;
	display: block;
	padding-bottom: rem(50px);

	&:after{
		content: '';
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		@include circle(rem(5px), #fff);
		top: 65%;
		left: 50%;
		transform: translate(-50%);
	}

	&:last-child:after {
		display: none;
	}
 }

 .ham-menu__link {
	display: block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: rem(24px);
	line-height: rem(24px);

	&:hover {
		text-decoration: underline;
	}
 }

