.menu {
    background: url("../img/menu-bg.jpg") center no-repeat;
    background-size: cover;
    padding-left: rem(50px);
    position: relative;
}

.menu__wrapper {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.menu__title {
    color: #fff;
}

.menu__accordeon {
    height: 100%;
}

.menu__list {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.menu__item {
    height: 100%;
    display: flex;
}

.menu__item--active {
    .menu__item-link {
        color: $yellow;
    }
}

.menu__item-title {
    background-size: cover; 
    height: 100%;
    width: rem(80px);
    position: relative;
}

.menu__item-link {
    display: inline-block;
    font-family: 'Gagalin';
    color: #fff;
    text-decoration: none;
    font-size: rem(40px);

    @include tablets {
        font-size: rem(35px);
    }

    @include phones {
        font-size: rem(30px);
    }
}

.link-wrapper {
    text-align: center;
    min-width: rem(650px);
    position: absolute;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    left: 50%;
    top: 100%;
}

.text-hidden {
    padding-top: rem(60px);
    padding-left: rem(35px);
    padding-right: rem(35px);
    width: rem(540px);

    @include tablets {
        width: rem(300px);
    }

    @include phones {
        width: auto;
    }
}

.menu__item-desc {
    height: 100%;
    width: 0;
    overflow: hidden;
    color: #fff;
    font-size: rem(14px);
    line-height: rem(24px);
    text-align: left;
    background-color: rgba(#2f3234, .93);
    transition: .5s ease;
}

