@mixin circle($width, $color) {
    width: $width;
    height: $width;
    border-radius: 50%;
    background-color: $color;
}

@for $i from 1 through 8 {
    .reviews__item--#{$i} { 
        background: url("../img/photo-#{$i}.jpg");
    }
  }

  @for $i from 1 through 4 {
    .menu__item-title--#{$i} { 
        background: url("../img/item-bg-#{$i}.jpg");
    }
  }

  @mixin tablets {
    @media screen and (max-width: $tablets) {
      @content;
    }
  }
  
  @mixin phones {
    @media screen and (max-width: $phones) {
      @content;
    }
  }