.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.container {
    width: 95%;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section {
    width: 100%;
    height: 100%;
}

.section__title {
	color: #f9b43b;
	font-family: 'Gagalin';
	font-size: rem(72px);
	line-height: 1.42;
	margin: 0;
    padding-top: rem(60px);
    
    @include tablets {
        font-size: rem(60px);
    }

    @include phones {
        font-size: rem(50px);
    }
  }

.order-btn {
	text-align: center;
	display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin: 10px 17px;
    margin-right: 0;
    color: #fff;
	width: 100px;
	line-height: 35px;
	border-radius: 5px;
    background-color: $orange;
    &:hover {
        background-color: darken($orange, 10%);
    }

    &--form {
        border: none;
        margin: 0;
        margin-right: 20px;
        padding: 0;
    }
}
