@font-face {
	font-family: 'Ubuntu-Medium';
	src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gagalin';
	src: url('../fonts/Gagalin/Gagalin-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lifehack';
	src: url('../fonts/lifehack_medium-webfont.eot');
	src: url('../fonts/lifehack_medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lifehack Medium.otf') format('opentype'),
         url('../fonts/lifehack_medium-webfont.woff2') format('woff2'),
         url('../fonts/lifehack_medium-webfont.woff') format('woff'),
         url('../fonts/lifehack_medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}